@{
    ViewData["Title"] = "LevelSelector";
}

<link rel="stylesheet" href="~/css/LevelSelector/LevelSelectorMedia.css" asp-append-version="true" />

<div class="text-center">
    <h2>2543423 баллов</h2>
    <h2>Выберите уровень:</h2>
</div>
<div class="level-table text-center">
    <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
    </nav>
     <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
    </nav>
        <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
    </nav>
        <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
    </nav>
        <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
    </nav>
        <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
    </nav>
        <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
    </nav>
        <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
    </nav>
        <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
    </nav>
        <nav>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'">Свободная игра</button>
        <button class="light-button" onclick="location.href='@Url.Action("Queue", "Game", new { })'" disabled="disabled">Свободная игра</button>
    </nav>
</div>
<div class="text-center">
    <button id="light-button-exit" class="light-button" onclick="location.href='@Url.Action("Index", "Game", new { })'">Выйти</button>
</div>
