@{
    ViewData["Title"] = "Queue";
}

<link rel="stylesheet" href="~/css/Queue/QueueMedia.css" asp-append-version="true" />

@section Scripts {
    <script src=~/js/ajaxRequests.js type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function() {
            proveAuth("@Url.Action("ProveAuth")"); 

            var button = document.getElementById("quit-button");
            button.onclick = function() { quitQueueRequest("@Url.Action("QuitQueueRequest")"); }; 

            setInterval(() => getQueueStatus("@Url.Action("GetQueueStatus")"), 2000);
            setInterval(() => hearthbeat("@Url.Action("Hearthbeat")"), 1000);
            setInterval(() => queueDataRequest("@Url.Action("QueueDataRequest")", document.getElementById("levelText"), document.getElementById("playersCountText"), document.getElementById("waitTimeText")), 1000);
        };
    </script>
}

<section class="d-flex flex-column justify-content-center align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
            <h2 id="levelText">Уровень: 0</h2>
            <h2 id="playersCountText">Игроков в очереди: 0</h2>
            <h2 id="waitTimeText">Время ожидания: 0:00 минут</h2>
            <img src="/images/SameSize/Hands_00.png" alt="Tutorial"/>
            <button id="quit-button" class="light-button" onclick="location.href='@Url.Action("Index", "Game", new { })'">Выйти</button>
        </div>
      </div>
    </div>
</section>


